#home{
    width:100%;
}
#home div.banner{
    width:98%;
    margin: auto;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1), rgba(0,0,0,0));
    z-index:-100;
}
#home div.banner img{
    z-index: -1;
    width:100%;
}
#home div.banner .slick-next {
    top: 170px;
    right: 45px;
    z-index: 1;
}
#home div.banner .slick-prev{
    top: 170px;
    left: 25px;
    z-index: 1;
}
#home div.banner .slick-prev:before, #home div.banner .slick-next:before {
    font-size: 40px;
    line-height: 1;
    opacity: 1;
    color: white;
}
#home div.products{
    margin-top:-220px;
    width:100%;
}
#home div.products ul{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
}
#home div.products ul li{
    margin-right: 20px;
    margin-left:20px;
    margin-bottom: 50px;
    padding : 20px;
    background-color: #fff;
    z-index: 1;
}
